*{
    margin: 0%;
    padding:0%;

}

html{
    scroll-behavior: smooth;
}

body{
   
    background-color: rgb(255, 20, 145);
}
header{
    background-color: rgb(238, 116, 163);
    padding: 1%;
}
img{
    width: 20%;
}
figure{
    text-align:center; 
}
.container{width: 80%;
margin: auto;}

h1,h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

p{
    font-family: 'Dancing Script', cursive;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.5;
}

.center {
    align-items: center;
    text-align: center;
    width: 50%;
    float: left;
    margin-bottom:2% ;
}
footer{
    clear: both;
    background-color: rgb(238, 116, 163);
    padding-top: 1%;
    padding-bottom: 1%;
}
/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 0, 136);
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    
  }
  /* mouse over link */
  a:hover {
    color: rgb(0, 0, 0);
    background-color: #C71585;
    padding: 0.7%;
    border-radius: 25px;
    
  }
  
  /* selected link */
  a:active {
    color: #a50066;
  }
  
footer p{
    text-align: center;
}
.menu{
    text-align: center;
}
.menu ul li{
    line-height: 1.5;
}
.ani{ 
    width: 300px;
    margin-top: 2%;
    height: 300px;
    background-color: black;
    margin-bottom: 2%;
    transition: width 2s;
}

.ani:hover{
 width: 800px;   
}