html{
    scroll-behavior: smooth;
}

body{
   
    background-color: rgb(255, 20, 145);
}
header{
    background-color: rgb(238, 116, 163);
}
img{
    width: 20%;
}
figure{
    text-align:center; 
}
.container{width: 80%;
margin: auto;}

h1,h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

p{
    font-family: 'Dancing Script', cursive;
    text-align: justify;
    font-size: 1.5rem;
}

.center {
    align-items: center;
    text-align: center;
    width: 50%;
    float: left;
}
footer{
    clear: both;
    background-color: rgb(238, 116, 163);
    padding-top: 1%;
    padding-bottom: 1%;
}
footer p{
    text-align: center;
}
.menu{
    text-align: center;
}