body{
    background-color: rgb(255, 20, 145);
}
img{
    width: 20%;
}
figure{
    text-align:center; 
}
.container{width: 80%;
margin: auto;}

h1,h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

p{
    font-family: 'Dancing Script', cursive;
    text-align: justify;
    font-size: 1.5rem;
}

.center {
    align-items: center;
    text-align: center;
    width: 50%;
    float: left;
}